@import url(http://fonts.googleapis.com/css?family=Raleway|Open+Sans);

header{
  font-family: 'Raleway', serif;
  margin: 0px 0px;
  text-align: center;
  padding: 50px 0px 25px 0px;
  /*background: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  border-radius: 5px;
}
#name {
  text-transform: uppercase;
}
body{
  background-color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}
/*section{
  background-color: #FFC789;
  padding: 15px 40px;
  margin: 20px 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,.3);
}*/
h1, h2{
  font-weight: bold;
  color: #91130D;
}
p{
  margin: 10px 20px;
}
iframe{
  margin: 5px;
  align-self: center;
}
img{
  border-radius: 50%;
}
a{
  color: navy;
  text-decoration: none;
  transition: 0.2s all;
}
/*header a{
  color: #10002B;
  font-weight: bold;
}*/
a:hover{
  color: purple;
  /*-webkit-transform: scale(2);*/
}
/*section:hover{
  background-color: #FFF7D6;
}*/
